.about-heading {
    text-align: center;
    color: #481d51;
    font-size: 50px;
}

.what-section {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    gap: 200px;
    margin-bottom: 20px;
}

.what-section h1 {
    font-size: 30px;
    margin-left: 30px;
    color: #481d51;
    font-weight: 600;
}

.what-section p {
    width: 800px;
    font-size: 20px;
    text-align: center;
}

.ai-img {
    width: 300px;
    margin: 10px 0px 10px 120px;
}