@media screen and (max-width: 600px) and (min-width: 250px) {
    .navigation {
        padding-bottom: 20px;
        font-family: 'EB Garamond', serif;
    }
    
    .nav-bar {
        display: flex;
        flex-direction: column;
    }

    .search-bar {
        padding-bottom: 20px;
    }
}