.contact {
    display: flex;
    align-items: center;
}

.info {
    border: 2px solid black;
    padding: 20px 10px 20px 10px;
    margin-left: 30px;
    color: white;
    background-color: #481d51;
}

.contact-heading {
    text-align: center;
    font-size: 35px;
    color: #481d51;
    margin-top: 30px;
}

.contact-form {
    border: 1px solid black;
    width: 500px;
    position: relative;
    left: 5%;
    padding: 20px 20px 20px 20px;
    margin: 0px 60px 60px 60px;
}

.contact-form textarea {
    width: 455px;
}

.contact-form input {
    width: 455px;
}

.user-info {
    width: 500px;
    position: relative;
    right: 0px;
}