@media screen and (max-width: 600px) and (min-width: 250px) {
    .contact {
        display: flex;
        flex-direction: column;
    }

    .user-info {
        display: none;
    }

    .contact-form {
        width: 400px;
        margin: 0px 18px 20px -25px;
    }

    .contact-form textarea {
        width: 360px;
    }
    
    .contact-form input {
        width: 360px;
    }

    .info {
        margin: 0px 0px 20px 0px;
    }
}